@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  
}
.overflow-hidden-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @font-face {
    font-family: "Bruce-Regular";
    src: url("/fonts/Bruce-Regular-2.0.woff") format("woff"),
      url("/fonts/Bruce-Regular-2.0.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Bruce-RegularOutline";
    src: url("/fonts/Bruce-RegularOutline.woff") format("woff"),
      url("/fonts/Bruce-Regular-Outline.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Bold";
    src: url("/fonts/Favorit-Bold.woff") format("woff"),
      url("/fonts/Favorit-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Bold-Italic";
    src: url("/fonts/Favorit-BoldItalic.woff") format("woff"),
      url("/fonts/Favorit-Bold-Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Favorit-Light-Italic";
    src: url("/fonts/Favorit-LightItalic.woff") format("woff"),
      url("/fonts/Favorit-Light-Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Favorit-Regular-Mono";
    src: url("/fonts/Favorit-MonoBeta.woff") format("woff"),
      url("/fonts/Favorit-Regular-Mono.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Regular-Italic";
    src: url("/fonts/Favorit-RegularItalic.woff") format("woff"),
      url("/fonts/Favorit-Regular-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Favorit-Bold-Lining";
    src: url("/fonts/Favorit-BoldLining.woff") format("woff"),
      url("/fonts/Favorit-Bold-Lining.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Light-Lining";
    src: url("/fonts/Favorit-LightLining.woff") format("woff"),
      url("/fonts/Favorit-Light-Lining.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Medium-Lining";
    src: url("/fonts/FavoritMediumLining.woff") format("woff"),
      url("/fonts/FavoritMediumLining.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Regular-Lining";
    src: url("/fonts/Favorit-RegularLining.woff") format("woff"),
      url("/fonts/Favorit-Regular-Lining.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Light";
    src: url("/fonts/Favorit_Light.woff") format("woff"),
      url("/fonts/Favorit_Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Medium";
    src: url("/fonts/Favorit_Medium.woff") format("woff"),
      url("/fonts/Favorit_Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Favorit-Regular";
    src: url("/fonts/Favorit_Regular.woff") format("woff"),
      url("/fonts/Favorit_Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "StagBold_nutrisport";
    src: url("/fonts/StagBold_nutrisport.woff") format("woff");

    font-weight: 700;
    font-style: normal;
  }
}
